{% extends 'UserBundle::layout.html.twig' %}

{% block title %}领取会员卡{% endblock %}

{% block stylesheets %}
    <style>
        .wrap img {
            display: block;
            width: 80%;
            margin: 5% auto 0;
        }
        .wrap p {
            margin-top:15%;
            font-size: 16px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="wrap">
        <p>请识别二维码领取会员卡</p>
        <img src="{{ asset('vip_code.jpg') }}" alt="">
    </div>
{% endblock %}