{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    修改密码
{% endblock %}

{% block css %}
    <style>
        .about_us {
            position: static;
            display: block;
        }
        .order-information input[type=text], .order-information select, .order-information input[type=password] {
            width: 267px;
            height: 45px;
            line-height: 40px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="table-responsive">
                <div class="current-location">
                    当前位置：<a href="javascript:;">修改密码</a>
                </div>
                <div class="order-information">
                    <form action="" method="post"  id="form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="">原密码：</label>
                            <input type="password" placeholder="请输入原密码" name="old_password" class="banner-name" >
                        </div>


                        <div class="form-group">
                            <label for="">新密码：</label>
                            <input type="password" name="password" class="password" placeholder="请输入新密码">
                        </div>

                        <div class="form-group">
                            <label for="">确认密码：</label>
                            <input type="password" name="password_two" class="password-two" placeholder="请再次输入新密码">
                        </div>
                        <span class="tip-error-login about_us">{{ error.content }}</span>
                        <input type="button" value="保存" class="master_save">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            // 点击保存 添加
            $('.master_save').click(function(){
                var name = $.trim($('.banner-name').val());
                var password = $.trim($('.password').val());
                var password_two = $.trim($('.password-two').val());

                // 验证 正整数
                var cell = /^[0-9]*[1-9][0-9]*$/;
                if (name == '') {
                    alert("原密码不能为空！");
                    return false;
                } else if (password.length < 6) {
                    alert('密码请设置在6个字符以上！');
                    return false;
                } else if (password != password_two) {
                    alert('两次密码不一致！');
                    return false;
                } else {
                    $('#form').submit();
                }
            })
        })
    </script>
{% endblock %}