/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/web/upload/*
!web/upload/.gitkeep
/composer.phar

# Mac OS X
.DS_Store

# Netbeans
/nbproject/*

.project

# Intellij
.idea/
*.iml
*.ipr
*.iws
