{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    欢迎页
{% endblock %}

{% block css %}
    <style>
        .welcome {
            margin-top:20%;
            font-size: 60px;
            text-align: center;
        }
        .code {
            display: block;
            margin: 5% auto;
            width: 80%;
            line-height: 38px;
            font-size: 16px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="welcome">
        欢迎登录本系统
        <input type="text" placeholder="请扫描二维码" class="code">
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('.code').focus();
            setInterval(function () {
                var url = $('.code').val();
                if (url) {
                    window.location.href = url;
                }
            }, 5000);
        })
    </script>
{% endblock %}