.wrap{
 	width:100%;
    max-width: 720px;
    min-width: 240px;
    margin: auto;
}
/*22积分兑换商城*/
.things-content{
	margin:0 auto;
	width:93%;
}
.one-thing{
	position: relative;
	margin-top:12px;
	width:100%;
	overflow: hidden;
	border-radius:5px;
}
.one-thing img{
	width:100%;
	height:100%;
}
.thing-introduce{
	position: absolute;
	left: 3%;
	top: 14px;
	width:97%;
	height:18px;
	line-height: 18px;
	font-size: 18px;
	color:#fff;
}



/*23适用门店*/
.suit-shop-content{
	margin:0 auto;
	width:93%;
}
.one-suit-shop{
	margin-top:18px;
	padding-bottom: 35px;
	width:100%;
}
.shop-name{
	width:100%;
	/*height:17px;*/
	line-height: 17px;
	font-size: 18px;
	font-weight: bold;
	color:#333333;
}
.shop-address{
	margin-top: 15px;
	width:100%;
	line-height: 17px;
	/*line-height: 13px;*/
	font-size: 14px;
	color:#333333;
}
.shop-time{
	margin-top: 11px;
	width:100%;
	height:14px;
	font-size: 14px;
	line-height: 14px;
	color:#333333;
}
.shop-phone{
	margin-top: 14px;
	width:100%;
	height:14px;
	line-height: 14px;
	font-size: 14px;
	color:#333333;
}
.one-suit-shop img{
	display: block;
	margin-top: 12px;
	width:100%;
}